.img {
    animation: zoom-in 1s ease-in forwards;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

@keyframes zoom-in {
    0% {
        transform: scale(0.3);
    }

    100% {
        transform: scale(1);
    }
}

.img:hover {
    animation: shake 0.5s ease-out;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.button {
    animation: pulse 1s infinite;
}


.button {
    animation: bounce 1s infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}