.img {
    position: relative;
    animation-name: slide-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

@keyframes slide-in {
    from {
        right: -100%;
    }

    to {
        right: 0%;
    }
}


#profile {
    transition: transform 0.5s ease;
}

#profile:hover {
    transform: scale(1.1);
}


.button {
    animation: pulse 1s infinite;
}


.button {
    animation: bounce 1s infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}